.content {
    margin-left: auto; 
    width: 50%; 
    margin-right: auto; 
    margin-top: 3em;
}
.rows-left {
    width: 90%;
    padding-left: 0;
    padding: 0.3em;
}
input[type="text"], input[type="password"] {
    border:2px solid #aaa;
    padding:5px;
    font-size: 0.7em;
    width:80%;
}

input[type="text"]:focus, input[type="password"]:focus {
    border:2px solid #9BB43E;
}

label{
    font: normal 1.5em tahoma, arial, helvetica, sans-serif;
}
input, label {
    display: block;
    font-weight: bold;
}

input[type="submit"]{
	font-size:2.0em;
	margin-bottom:20px;
	padding:5px;
	text-align:right;
}
.alignleft {
    float: left;
}