.cloud { padding: 2px; line-height: 2em; text-align: center; }
.cloud a { padding: 3px; }

.tag {
    letter-spacing: 2px;
    text-decoration: none;
}

.cloud a:hover {
    color: #ffffff;
    background: #ececec;
}

span.size1 a {
    color: #000;
    font-size: 180%;
}
span.size2 a{
    color: #333;
    font-size:160%;
}
span.size3 a{
    color: #666;
    font-size: 140%;
}
span.size4 a{
    color: #999;
    font-size: 120%;
}
span.size5 a{
    color: #aaa;
    font-size: 100%;
}
span.size6 a{
    color: #bbb;
    font-size: 90%;
}
span.size7 a {
    color: #ccc;
    font-size: 80%;
}
span.size8 a{
    color: #ddd;
    font-size: 70%;
}
span.size0 a{
    color: #ccc;
    font-size: 60%;
}